@use "./var" as *;

// MOBILE

//TYPOGRAPHY
@mixin typo_mob_h1 {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.8rem;
}
@mixin typo_mob_h2 {
  color: $txt_primary;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.8rem;
}
@mixin typo_mob_body {
  color: $txt_primary;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2rem;
}
@mixin typo_mob_emphasis {
  color: $txt_secondary;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2rem;
}

// TABLET
@mixin typo_tab_button {
  color: $bg_color;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.6rem;
}

//QUERIES
@mixin tablet_query {
  @media screen and (min-width: 768px) {
    @content;
  }
}
