
// BACKGROUND AND VISU
$bg_color: #0F0F0F;
$bg_color_70: #0F0F0FB3;
$vi_primary_act: #E9FF1A;
$ico_color: #FF5964;

// TEXT
$txt_primary: #ECEDEE;
$txt_secondary: #FF5964;

// BASIC
$pure_black: #000;
$pure_white: #fff;

// SUBJECTS COLORS
$subj_bio_color: #CC4090;
$subj_art_color: #05A2C2;
$subj_geo_color: #C26719;
$subj_socio_color: #9B19C2;



